In [6]:
def my_function():
    print("Hello there from a function")
    
my_function()

Hello there from a function

In [24]:
def the_function(fname, sname):
    print(fname + "   " + sname)
    
the_function("Fredrick", "Mugisha")
the_function("Godius", "Mugisha")
the_function("Garasian", "Mugisha")

Fredrick   Mugisha
Godius   Mugisha
Garasian   Mugisha

In [27]:
def the_unkown(*majina):
    print("Jina la mtoto ni: " +majina[0])
    
the_unkown("Fredrick", "Mugisha", "Gotfried")

Jina la mtoto ni: Fredrick

In [34]:
def key_value(fname, sname, tname):
    print("The name of the youngest child is: " +tname)
    
key_value(fname="fredrick", sname="mugisha", tname="gotfried")

The name of the youngest child is: gotfried

In [35]:
def test(fname, sname, tname):
    print("The name of the oldest child is: " +fname)
    
test("Godius", "Garasian", "Happynes")

The name of the oldest child is: Godius

In [41]:
def see(fname, sname, tname):
    print("The name is: " +fname +"  "+sname+ "  "+tname )
see("fredrick","mugisha", "gotfried")

The name is: fredrick  mugisha  gotfried

In [42]:
def with_keyword(**kids):
    print("The youngest child is: " +kids["tname"])
    
with_keyword(fname="verediana", sname="doris", tname="meryness")

The youngest child is: meryness

In [45]:
def my_function(country = "Tanzania"):
    print("I am from " + country)
my_function("sweden")
my_function("south africa")
my_function()

I am from sweden
I am from south africa
I am from Tanzania

In [49]:
def my_list(food):
    for type in food:
        print(type)
fruits = ["Apple", "Banana", "Jerry", "watermelon"]
my_list(fruits)

Apple
Banana
Jerry
watermelon

In [50]:
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(5))

15
25

In [59]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
#To calculate the factorial of 5
num = 5
result = factorial(num)
print(f"The factorial of {num}: is {result}")

The factorial of 6: is 720