In [4]:
i = 1
while i < 5:
    print(i)
    i += 1

1
2
3
4

In [6]:
i = 1
while i < 5:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [5]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [4]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [3]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [2]:
i = 1
if i < 6:
    print(i)
    i += 1

1

In [9]:
fruits = ["banana", "apple", "cherry"]
for x in fruits:
    print(x)

banana
apple
jerry

In [6]:
fruits = ["banana", "apple", "jerry"]
for x in fruits:
    print(x)
    if x == "apple":
        break

banana
apple

In [7]:
fruits = ["banana", "apple", "cherry"]
for x in fruits:
    if x == "apple":
        print(x)
        break

apple

In [12]:
fruits = ["banana", "apple", "cherry"]
for x in fruits:
    if x == "apple":
        continue
    print(x)

banana
cherry

In [15]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [16]:
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

In [17]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [21]:
for x in range(6):
    print(x)
else:
    print("The loop has ended")

0
1
2
3
4
5
The loop has ended

In [23]:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("The loop has ended")

0
1
2

In [24]:
adj = ["red", "orange", "blue"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
orange apple
orange banana
orange cherry
blue apple
blue banana
blue cherry

In [26]:
for x in [1, 2, 3]:
    pass

IndentationError: expected an indented block after 'for' statement on line 1 (2851582934.py, line 2)